@charset "UTF-8";


@charset "UTF-8";
:root {
    /* Color */
    --white--color: #fff;
    --black--color: #140a00;
    --blue--color: #045fd4;
    --red--color: #ff0000;
    --grey--dark--color: #909090;
    --grey--light--color: #e0e0e0;
    --green--deep--color: #439889;
    --green--light--color: #e0f2f1;
    --green--hard-color: #003d33;
    --theme-color: #ed6174;
    --background-color:#e9ecea;
   
    /* Size */
    --padding: 12px;
    --avatar--size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}

.info-container1{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
    margin-top: 7em;
}
.info-container2{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
    margin-top: 7em;
}
.info-box{
    width: 40%;
    padding: 1.5em;
    border: 1px solid var(--grey--dark--color);
    border-radius: 0.8em;
    box-shadow: 10px 10px 20px var(--grey--light--color);
}
.box-blur{
	filter: blur(12px);
    pointer-events: none;
}
.info-box>h1{
   color: #484848;
}
.info-box li{
    padding: 0.5em;
}
.info-box ul{
	margin-top: 1em;
}