@charset "UTF-8";


@charset "UTF-8";
:root {
    /* Color */
    --white--color: #fff;
    --black--color: #140a00;
    --blue--color: #045fd4;
    --red--color: #ff0000;
    --grey--dark--color: #909090;
    --grey--light--color: #e0e0e0;
    --green--deep--color: #439889;
    --green--light--color: #e0f2f1;
    --green--hard-color: #003d33;
    --theme-color: #ed6174;
    --background-color:#e9ecea;
   
    /* Size */
    --padding: 12px;
    --avatar--size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}
body{
    font-family: 'Nanum Gothic', sans-serif;
}
section{
	height: 100vh;
}
.info-container1{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
    margin-top: 7em;
}
.info-container2{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
    margin-top: 7em;
}
.info-box{
    width: 40%;
    padding: 1.5em;
    border-radius: 0.5em;
    background-color: #f7f7f7;
    box-shadow: 10px 10px 20px var(--grey--light--color);
}

.info-box h1{
   display: inline;
   padding-left: 0.5em;
   color: #484848;
}
.info-box li{
    padding: 0.5em;
}

.info-box a{
    padding: 0.5em;
}

.info-box i{
    font-size: 2em;
    color: #484848;
}
.info-box ul{
	margin-top: 1em;
}


@media screen and (max-width: 768px) {
     .info-container1{
        width: 90%;
    }
    
    .info-container2{
        width: 90%;
    }
    
    .info-box h1{
		padding-left: 0px;
    	font-size: 1.1em;
	}
	
	.info-box li{
     	padding: 0; 
	}
	
	.info-box{
		padding: 1em;
	}
	
	.info-box i{
     	font-size: 24px; 
	}
}
