@charset "UTF-8";
:root {
    /* Color */
    --white--color: #fff;
    --black--color: #140a00;
    --blue--color: #045fd4;
    --red--color: #ff0000;
    --grey--dark--color: #909090;
    --grey--light--color: #e0e0e0;
    --green--deep--color: #439889;
    --green--light--color: #e0f2f1;
    --green--hard-color: #003d33;
    --theme-color: #ed6174;
    --background-color:#e9ecea;
   
    /* Size */
    --padding: 12px;
    --avatar--size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}
input{
    padding: 10px;
}
li{
    text-decoration: none;
    list-style: none;
    padding: 10px;
}
a{
    text-decoration: none;
}
body{
    margin: 0 auto;
    text-align: center;
}
header{
    width: 100%;
    background-color: var(--theme-color);
}
.header__signForm ul{
    display: flex;
    position: absolute;
    top: 16px;
    right: 16px;
}
.header__logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__signForm a{
    color: var(--white--color);
    font-weight: bold;
}
#checkPoint{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}
#checkPoint button,
#checkPoint input{
    width: 20%;
    height:2.813em;
    background-color: var(--grey--light--color);
    margin-top: 1em;
    border: 1px solid var(--grey--dark--color);
    border-radius: 5px;
}
#checkPoint button{
    color: var(--white--color);
    background-color: var(--theme-color);
    font-weight: bold;
    border: none;
}
.agreement__form{
    margin-top: 46px ;
}
.agreement__form a{
    color: var(--grey--dark--color);
    margin: 12px 12px;
}
