@charset "UTF-8";

:root {
  /* Color */
  --white--color: #fff;
  --black--color: #140a00;
  --blue--color: #045fd4;
  --red--color: #ff0000;
  --grey--dark--color: #909090;
  --grey--light--color: #e0e0e0;
  --green--deep--color: #439889;
  --green--light--color: #e0f2f1;
  --green--hard-color: #003d33;
  --theme-color: #ed6174;
  --background-color: #e9ecea;
  --text-color:  #484848
  /* Size */
  --padding: 12px;
  --avatar--size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

ol,
ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  vertical-align: bottom;
}

address {
  font-style: normal;
}

table {
  margin : 0 auto;
  margin-top : 10vh;
  border-collapse: collapse;
  text-align: center;
}

button {
  border: none;
  background: transparent;
}

#boxalign {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  width: 100%;
  padding: 10px 0 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: var(--theme-color);
}

h3 {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: lighter;
  margin : 3rem 0 3rem 0;
  text-align: center;
}



td{
	 padding: 10px 0 10px 0;
}

.category{
  height: 30px;
  background: var(--grey--light--color);
  color: var(--text-color);
}
.category__no{
  width: 100px;
}

.category__sub{
  width: 700Px;
}

.category__id{
  width: 200px;
}

.category__time{
  width: 200px;
}
.category__data{
 height: 30px;
 border-bottom: 1px solid var(--grey--light--color);
}

.pagination__container{
	display: flex;
    justify-content: space-evenly;
    width: 120px;
    margin: 0 auto;
}

.nothing__container{
	display: flex;
    justify-content: center;
    margin-top: 20%;
    font-size: 2rem;
    color: #484848;
}

.nothing__container i{
	font-size: 4rem;
}
.nothing__container p{
	padding : 0.5em;
}

@media screen and (max-width : 768px){
	table{
	width: 90%;
  }
  tbody{
    font-size: 0.8em;
  }
  h1{ 
    font-size: 1.2em;
  }
  
  .nothing__container{
   		margin-top: 25vh;
	}
	
	.nothing__container i {
    font-size: 3rem;
	}

	.nothing__container p {
    padding: 1em;
    font-size: 1rem;
    font-weight: bold;	
	
	}
	
}

