body{
    width: 60.000em;
    margin: 0 auto;
    text-align: center;
}
section{
	margin-top : 15%;
}
button{
	width: 10em;
	height: 3em;
	margin-top : 4%;
	border-radius:5px;
	border: none;
	color: #ffffff;
	background-color: #ed6174;
	font-weight: bold;
}
h3{
	color:#909090;
}
div{
	font-size : 1.2em;
}