@charset "UTF-8";

:root {
    /* Color */
    --white--color: #fff;
    --black--color: #140a00;
    --blue--color: #045fd4;
    --red--color: #ff0000;
    --grey--dark--color: #909090;
    --grey--light--color: #e0e0e0;
    --green--deep--color: #439889;
    --green--light--color: #e0f2f1;
    --green--hard-color: #003d33;
    --theme-color: #ed6174;
    --background-color: #f5f6f7;
    /* Size */
    --padding: 12px;
    --avatar--size: 36px;
    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}


li{
    list-style: none;
   
}

body {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--white--color);
}
h3{
    color: var(--grey--dark--color);
}
input,
div button {
    width: 100%;
    height: 45px;
    border: 1.5px solid var(--grey--dark--color);
    border-radius: 5px;
    /* background-color: #e8f0fe; */
}

a {
    text-decoration: none;
    color: var(--black--color);
}

header {
	position: sticky;
	top: 0;
	background-color: var(--white--color);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 2px 2px rgba(0, 0, 0, 0.10);
}

#name,
#tel{
	padding-left: 15px;
}
.signForm{
	color: var(--white-color);
}
.findId__form h1 {
    color: var(--black--color);
}

.findId__form {
    display: flex;
    width: 25%;
    margin: auto;
    text-align: center;
    flex-direction: column;
    margin-top: 100px;
    color: var(--grey--dark--color);
}

.findId__form h1 {
    font-size: 16px;
}

.findId__form div {
    display: block;
    padding: var(--padding);
}

.findId__submit button {
    width: 100%;
    background-color: var(--theme-color);
    color: var(--white--color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

#findId__btn {
    background-color: var(--theme-color);
}

#findId__btn p {
    color: var(--white--color);
    font-weight: bold;
}


@media screen and (max-width : 768px){
	 .findId__form{
		width: 80%;
	}
}