@charset "UTF-8";
:root {
    /* Color */
    --white--color: #fff;
    --black--color: #140a00;
    --blue--color: #045fd4;
    --red--color: #ff0000;
    --grey--dark--color: #909090;
    --grey--light--color: #e0e0e0;
    --green--deep--color: #439889;
    --green--light--color: #e0f2f1;
    --green--hard-color: #003d33;
    --theme-color: #ed6174;
    --background-color:#e9ecea;
   
    /* Size */
    --padding: 12px;
    --avatar--size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}
.slide__wrap{
    position: relative;
    width: 300px;
    margin: auto;
    padding-bottom: 30px;
}
.slide__box{
    width: 100%;
    margin: auto;
    overflow-x: hidden;
}
.slide__content{
    background-color: var(--black--color);
    display: table;
    float: left;
    width: 300px;
    height: 300px;
}
.slide__content img{
    width: 300px;
    height: 300px;
}