@charset "UTF-8";

:root {
    /* Color */
    --white--color: #fff;
    --black--color: #140a00;
    --blue--color: #045fd4;
    --red--color: #ff0000;
    --grey--dark--color: #909090;
    --grey--light--color: #e0e0e0;
    --green--deep--color: #439889;
    --green--light--color: #e0f2f1;
    --green--hard-color: #003d33;
    --theme-color: #ed6174;
    --background-color :#f5f6f7;
    /* Size */
    --padding: 12px;
    --avatar--size: 36px;
    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}
section{
	margin: 0 auto;
	width: 50%;
	margin-top: 10%;
}
input{
	display: block;
	width: 100%;
	margin: 0;
	border: 1px solid var(--black--color);
	border-radius: 5px;
	padding : 10px;
 }
#product_image{
	border: 0;	
}
#ckpoint{
	display: flex;
    flex-direction: column;
}
#Padd{
	display: flex;
	margin: 0 auto;
	margin-top : 1em; 
	padding: 15px;
	border-radius : 5px;
	background-color: var(--theme-color);
	color: var(--white--color);
}
