@charset "UTF-8";
:root {
    /* Color */
    --white--color: #fff;
    --black--color: #140a00;
    --blue--color: #045fd4;
    --red--color: #ff0000;
    --grey--dark--color: #909090;
    --grey--light--color: #e0e0e0;
    --green--deep--color: #439889;
    --green--light--color: #e0f2f1;
    --green--hard-color: #003d33;
    --theme-color: #ed6174;
    --background-color:#e9ecea;
   
    /* Size */
    --padding: 12px;
    --avatar--size: 36px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;

}

a{
    color: var(--black--color);
}
.form__container{
	display:inline-block;
width : 70%;
height : 15em;
border-top: 1px solid var(--grey--light--color);
border-bottom: 1px solid var(--grey--light--color);
}
.booking__Form{
    display: inline-flex;
    width : 100%;
    height : 90%; 
    justify-content: space-around;
}
.booking__confirm{
	position : absolute;
	display : inline-flex;
	flex-direction: column;
	justify-content:center;
	width: 12%;
	height : 15em;
	margin-left: 4em;
}
.confirm__add,
.confirm__delete
{	
	height: 3em;
	margin: 6px;
/* 	text-align: center; */
	background-color: var(--theme-color);
	color: var(--white--color);
	border-radius: 6px;
	font-weight: bold;
}
.booking_img{
    width: 30%;
    height: 100%;
}
.booking_img img{
	width: 100%;
	height:80%;
	align-items: center;
	border-radius: 5px;
}
.title__intro__container{
    display: flex;
    flex-direction : column;
    justify-content: space-evenly;
}
.booking__price{
	position: relative;
	top:30%;
	font-weight: bold;
}